.mainform {
  display: flex;
  justify-content: center;
}

.grid {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 800px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

[class*="col-"] {
  flex-shrink: 0;
  flex-grow: 0;
}
$total-cols: 12;
$col-size: 100% / 12;
@for $i from 1 through $total-cols {
  .col-#{$i} {
    width: $col-size * $i;
  }
}
